.backgroundVideo {
    width: 1920px;
    height: 1080px;
    z-index:0;
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
}

.title {
    left: 423px;
    top: 31px;
    width: 1077px;
    height: 259px;
    z-index:1;
    position: absolute;
}

.outer-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
.inner-container {
    display: inline-block;
    position: relative;
}
