.graph {
    position: relative;
    z-index: 2;
    margin-left: 25px;
    margin-right: 25px;
    width: 75px;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
}

.graphLabel {
    position: relative;
    font-family: Ubuntu Condensed, sans-serif;
    font-size: 15pt;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.graphImage {
    width: 75px;
    height: 40px;
    margin-top: -14px;
}

