.halfMoon {
    opacity:.5;
    z-index:2;
    height: 680px;
    width: 680px;
    position: relative;
    top: -585px;
    left: -175px;
}
.slideCarousel {
    position: absolute;
    width: 350px;
    top: 650px;
    left: 795px;
}
.carousel {
    z-index: 4;
    color: white;
    height: 150px;
    font-family: Ubuntu Condensed, sans-serif;
    font-size: 16pt;
}

.slideTitle {
    color: white;
    z-index:4;
    position: relative;
    font-size: 20pt;
    font-family: Ubuntu Condensed, sans-serif;
}