.centerImage {
    position: absolute;
    left: 620px;
    top: 251px;
    width:680px;
    height: 680px;
}

.centerRing {
    z-index:3;
}

.centerVideo {
    width:563px;
    z-index:2;
    position: absolute;
    left:676px;
    top:310px;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    border-width:1px;
}

.centerText {
    position: absolute;
    left: 725px;
    top: 600px;
    width: 500px;
    text-align: center;
    font-family: Ubuntu Condensed, sans-serif;
    font-size: 15pt;
    color: #FFFFFF;
}