.outerCircle {
    background-color: white;
    width:1000px;
    height: 1000px;
    z-index:5;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    left: 800px;
    top: 200px;
    border-width:1px;
}

.centerVideo {
    width:950px;
    height: 950px;
    z-index:5;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    left: 25px;
    top: 25px;
    border-width:1px;
}