.outerCircle {
    position: absolute;
    left: 600px;
    top: 200px;
    width:600px;
    height: 600px;
}

.centerVideo {
    width:600px;
    height: 600px;
    z-index:5;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    left: 25px;
    top: 25px;
    border-width:1px;
}